# --- Database ---
DATABASE_URL=postgresql+asyncpg://<RENDER_USER>:<RENDER_PASSWORD>@<RENDER_HOST>:5432/<RENDER_DB>
SYNC_DATABASE_URL=postgresql+psycopg2://<RENDER_USER>:<RENDER_PASSWORD>@<RENDER_HOST>:5432/<RENDER_DB>

# --- JWT Auth ---
SECRET_KEY=<your_secret_key>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# --- Email (SMTP) ---
EMAIL_HOST=smtp.meta.ua
EMAIL_PORT=465
EMAIL_HOST_USER=<your_email>
EMAIL_HOST_PASSWORD=<your_email_password>

# --- Cloudinary ---
CLOUDINARY_CLOUD_NAME=<your_cloud_name>
CLOUDINARY_API_KEY=<your_api_key>
CLOUDINARY_API_SECRET=<your_api_secret>

# --- App ---
APP_PORT=8000

# --- Postgres (Render) ---
POSTGRES_DB=<RENDER_DB>
POSTGRES_USER=<RENDER_USER>
POSTGRES_PASSWORD=<RENDER_PASSWORD>
POSTGRES_HOST=<RENDER_HOST>
POSTGRES_PORT=5432
