# --- Database ---
POSTGRES_DB=photoshare
POSTGRES_USER=postgres
POSTGRES_PASSWORD=пароль
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Використовується  SQLAlchemy
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Синхронна версія для Alembic
SYNC_DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# --- JWT Auth ---
SECRET_KEY=секретний_ключ
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# --- Email (SMTP) ---
EMAIL_HOST=smtp.meta.ua
EMAIL_PORT=465
EMAIL_HOST_USER=seralina911@meta.ua
EMAIL_HOST_PASSWORD=пароль почти

# --- Cloudinary ---
CLOUDINARY_CLOUD_NAME=dtmsg
CLOUDINARY_API_KEY=секретний_ключ апи
CLOUDINARY_API_SECRET=секретний_ключ облака


# --- App ---
APP_PORT=8000
